body{
    font-family: Arial;
    font-size: 14px;
    color: #414141;
}
.artical h1{
	font-size: 36px;
	margin-top: 0px;

}
.about-us h2{
	position: relative;
}
.about-us{
	position: absolute;
	z-index: 1;
	left: 10%;
    top: 30%;

}
.container1about{
    margin-top:35px;
}
.promotional img{
    width: 100%;
    margin-bottom: 20px;:
}
.container1 {
    position: relative;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-40%, -55%);
  -ms-transform: translate(-40%, -55%);
  
}

.container1:hover img {
   opacity: 0.7;
}

.container1:hover .middle {
  opacity: 1;
}

.btn1 {
  background-color: #ea4748;
  color: #fff;
  border-color: :#fff;

}

.success{
	background: url('../images/success.svg') no-repeat ;
	background-size:20px 20px;
	height: 30px;
	width:30px;
	margin-left: 10px;
}
.edit{
	background: url('../images/edit.svg') no-repeat ;
	background-size:20px 20px;
	height: 30px;
	width:30px;
	margin-left: 10px;
}
.delete{
	background: url('../images/cross-dark.svg') no-repeat ;
	background-size:20px 20px;
	height: 30px;
	width:30px;
	margin-left: 10px;
}
.colorbr{
	color: #ea4748;
}
.hrcolor hr{
	border-top: 1px solid #d8d8d8;
}
.newcust h2{
	font-size: 28px;
	font-weight: 600;
}
.inputborder{
	height: 45px;
}
.inputborder:hover{
	
	border-color: #ea4748;
}
.validate{
	border-color: #d9534f;
}
.validate::placeholder{
	
	color: #d9534f;
}

button.btn1:hover {
    color: #ea4748;
    background-color: #fff;
    border-color: #ea4748;
}
.navbar-custom {
    background-color: #fff;
    border-color: #fff;
    border-bottom-color: #ea4748;
}
ul.nav a:hover { color: #ea4748 !important; }

ul.nav a:active {color: #ea4748 !important; }
.logo {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 50px;
  background: url(../images/logo.svg);
  background-size: 40px 50px;
  
}
.seprator{
	border-left: #cfcfcf 1px solid;
	margin-top: 14px;
	padding-right: 2px;
	height: 25px;
	padding-left: 2px;
}
li.cart:hover, li.cart a:hover{

	background-color: #ea4748;
	margin-top: 8px;
	height: 33px;
	width: 30px;
	margin-right: 5px
	 }
.cart a{
	background: url('../images/sprite.png') no-repeat -5px -60px;;
	width: 30px;
	height: 33px;
	margin-top: 7px;
	display: block;
	margin-right: 5px;
	
	

}
.cart a:hover{
	background: url('../images/sprite.png') no-repeat  -225px -68px;
	width: 30px;
	height: 30px;
	margin-top: 7px;
	margin-right: 5px;

	
}

.search {
	background: url('../images/search.svg') no-repeat;
	 
	margin-top: -10px;
	background-size: 21px 21px;
	height: 22px;
	width: 22px;
	margin-left: -11px;

} 
.bordera{
	border: #cfcfcf 1px solid;
	height: 26px;
	width: 22px;
	margin-top: 10px;
}



.sepreator{
	color: gray;
	margin-top: 15px;
	margin-right: 5px;
}
.sepreator1{
	color: gray;
	margin-top: 15px;
	margin-left: 5px;
}
.colorblack img
{
	background-color: #000 !important;
}	

.btntoggle{
	background-color: #fff !important;
	border-color: #fff !important;
}
.icontoggle{
	background-color: #666 !important;
}

	
.submenu{
	background-color:#000;
	opacity: 0.9;	
}
.submenu li{
	color:#fff;
}
.submenu li:hover{
	color:#ea4748;
}

.banner{
	width: 100%;
	margin-top:25px;
}
.latestfashion{
	position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
    font-size: 36px;
}
.latestfashion p{
	font-size: 60px;
	color: #2c4453;
}
.latestfashion button{
	background-color: #ea4748;
	color: #fff;
	font-size: 20px;
	border-color: #ea4748;
}
.latestfashion button:hover{
	background-color: #fff;
	color: #ea4748;
	font-size: 20px;
	border-color: #ea4748;
}
.banner2{
	width: 100%;
	position: relative;
	
}
.offer{
	margin-top:20px;
	background-color: #fafafa;
}
.image1{
	background: url('../images/icon.png') no-repeat;
	background-position: -2x 0px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
}
img.image1:hover{
	background: url('../images/icon.png') no-repeat;
	background-position: 0px -68px;;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
}
.image2{
	background: url('../images/icon.png') no-repeat;
	background-position: 0 -138px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;

}
img.image2:hover{
	background: url('../images/icon.png') no-repeat;
	background-position: 0 -205px;;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;

}
.image3{
	background: url('../images/icon.png') no-repeat;
	background-position: 0 -271px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
	
}
img.image3:hover{
	background: url('../images/icon.png') no-repeat;
	background-position: 0px -339px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
	
}
.body1 h4{
	font-size: 18px;
	color: #2c4453;

}
.body p{
	font-size: 12px;
	color: #414141;
}
.alink{
	color: #414141;
	font-size: 14px;	
}
.trending h1{
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}
.text{
	color: #414141;
}
.text a:link p{
	font-size: 16px;
	font-weight: 500;
}
.text h3{
	color: #ea4748;
}
.button1{
	color:#ea4748;
	border-color: #ea4748;
	margin-bottom: 20px; 
}
.button1:hover{
	background-color: #ea4748;
	color: #fff;
	border-color: #ea4748;
}
.footer{
	background-color:#394044;
	margin-top: 20px;
	color:#fff;
}
.form{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	color: #fff;
}
.form button{
	font-size: 14px;
	font-weight: 700px;
	background-color: #ea4748;
	border-color: #ea4748;
	color: #fff;

}
.form button:hover{
	color: #ea4748;
	background-color: #fff;
	border-color: #fff;
	
}
.form input{
	background-color:#394046;
	border-color: #394046; 
}
.footer ul{
	
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
}
.footer ul li {
	display:inline-block;
	padding-left: 10px;
	color: #fff;
}
hr{
	border-color:#464d51;
}
.footer-banner{
	position: relative;
}
.footer-content{
	position:absolute;
	z-index: 1;
}
.copy{
	text-align: center;
	font-size: 13px;
	color: #949597;
}
.cart-bred{
	background-color: #fafafa;
}
.price{
	color: #ea4748;
}
.qty{
	font-size: 14px;
	text-align: center;
	height: 30px;
	width:30px;	
}
.products p{
	font-size: 12px;
}
.btn2cart{
	color: #ea4748;
    background-color: #fff;
    border-color: #ea4748;
}
.btn2cart:hover{
	color: #fff;
    background-color: #ea4748;
    border-color: #ea4748;
}
.tableborder{
	background-color: #fafafa;
	border:1px solid;
	border-color: #b2b2b2;

}
.chekoutright{
	margin-right: 0px;
}
.cartform label{
	margin-top: 20px;
	font-size: 12px;
	font-family: arial;
}
.formborder{
	border:1px solid;
	border-color: #b2b2b2;
}
.estimate{
	font-size: 20px;
}
.destination{
	font-size: 15px;
}
.chekout{
	border:1px solid;
	border-color: #b2b2b2;
	height: 100px;
	width: 200px;
	margin-right: 0px;
}
.subtotal{
	margin-left: 100px;
}
.mainctncontact{
	margin-top: 10px;
}
.contact h2{
	position: relative;
}
.contact{
	position: absolute;
	top:10%;
	left:06%;
	z-index:1;
}

.addres h4{
	font-size: 20px;
	font-weight: 700;
}
.numberp{
	color: #ea4748;
}
h2{
    
    font-size: 30px;
  
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
    margin-top: 10px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 20px;
}



.artical p{
     margin-top: 15px;     
}

.artical2{
     margin-top: 25px;
}
.artical2 h2{
    margin-bottom:5px;
}

.shdow{
    box-shadow: 5px 5px;
    margin-bottom: 10px; 
}
.total{
	font-size: 20px;
	font-weight: 700;
}
.totalprice{
	font-size: 20px;
	font-weight: 700;
	color: #ea4748;
}


ul{
    margin-left: -25px;          
}


ol{
    margin-left: -20px;
}


@media screen and (max-width: 991px)
{
	.latestfashion{
	position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
    font-size: 30px;
}
.latestfashion p{
	font-size: 30px;
	color: #2c4453;
}
.latestfashion button{
	background-color: #ea4748;
	color: #fff;
	font-size: 15px;
	border-color: #ea4748;
}
.latestfashion button:hover{
	background-color: #fff;
	color: #ea4748;
	font-size: 15px;
	border-color: #ea4748;
}
.map{
	width:370px;
	height:250px;
	}
	.rightnav{
	text-align: center;
}
.rightnav ul li{
	display: inline-block;

}
	

}
@media screen and (max-width: 767px)
{
	.latestfashion{
	position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
    font-size: 25px;
}
.latestfashion p{
	font-size: 25px;
	color: #2c4453;
}
.latestfashion button{
	background-color: #ea4748;
	color: #fff;
	font-size: 10px;
	border-color: #ea4748;
}
.latestfashion button:hover{
	background-color: #fff;
	color: #ea4748;
	font-size: 10px;
	border-color: #ea4748;
}
.fixedmenu{
	position: absolute;
	width: 100%;
	z-index: 9999;
	background-color:#000;
	border-color:#ea4748;
}
.fixedmenu a:link{
	font-color:#fff;
}
.rightnav{
	text-align: center;
}
.rightnav ul li{
	display: inline-block;

}


.search {
	background: url('../images/search.svg') no-repeat;
	 
	margin-top: -9px;
	background-size: 21px 21px;
	height: 22px;
	width: 22px;
	margin-left: -11px;

} 
.bordera{
	border: #cfcfcf 1px solid;
	height: 26px;
	width: 22px;
	margin-top: 13px;
}

.map{
	width:330px !important;
	height: auto !important;
	}
} 
}

@media screen and (max-width: 560px)
{

	.latestfashion{
	position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
    font-size: 10px;
	}
	.latestfashion p{
		font-size: 10px;
		color: #2c4453;
	}
	.latestfashion button{
		background-color: #ea4748;
		color: #fff;
		font-size: 5px;
		border-color: #ea4748;
	}
	.latestfashion button:hover{
		background-color: #fff;
		color: #ea4748;
		font-size: 5px;
		border-color: #ea4748;
	}
	.banner{
		margin-top:49px !important;
	}


	.search {
		background: url('../images/search.svg') no-repeat ;
			
		
		background-size:25px 25px;
		height: 30px;
		width:30px;
		
	} 
	.bordera{
		border:1px solid;
		height: 35px;
		width: 30px;
		margin-top: 8px;
		margin-left: 8px;
	}
	li.cart:hover, li.cart a:hover{
		background-color: #ea4748;
	 }
	li.cart:hover, li.cart a:hover{

	background-color: #ea4748;
	margin-top: 8px;
	height: 33px;
	width: 30px;
	
	 }
.cart a{
	background: url('../images/sprite.png') no-repeat -5px -60px;;
	width: 30px;
	height: 33px;
	
	display: block;
	
	
	

}
.cart a:hover{
	background: url('../images/sprite.png') no-repeat  -225px -68px;
	width: 30px;
	height: 30px;
		
}

	.map{
		width:290px;
		height: auto;
	}
	.rightnav{
	text-align: center;
}
.rightnav ul li{
	display: inline-block;

}
.parent{
	position: relative;
}
.usrname{
	position: absolute;
	z-index: 1;
	top:0;

}
	
}

@media screen and (max-width: 320px)
{
	.banner{margin-top: 49px!important}

.rightnav{
	text-align: center;
}
.rightnav ul li{
	display: inline-block;
	font-size: 12px;

}
.parent{
	position: relative;
}
.usrname{
	position: absolute;
	z-index: 1;
	top:0;
}

}
