
.navbar-custom {
    background-color: #fff;
    border-color: #fff;
    border-bottom-color: #ea4748;
}
ul.nav a:hover { color: #ea4748 !important; }
ul.nav a:link { color: #414141 !important; }
ul.nav a:active {background-color:#ea4748 !important; }
.logo {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 50px;
  background: url(../images/logo.svg);
  background-size: 40px 50px;
}
.cart{
	background: url('../images/sprite.png') no-repeat -8px -67px;
	width: 22px;
	height: 22px;
	margin-top: 10px;
}
.search{
	background: url('../images/sprite.png') no-repeat -236px -167px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
a.cart:hover{
	background-color:#ea4748;
	background: url('../images/sprite.png') no-repeat -229px -68px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

	
.submenu{
	background-color:black;
	opacity: 0.9;
}
.submenu ul li{
	color: white;
}
.banner{
	width: 100%;
	margin-top:25px;
	

}
.banner2{
	width: 100%;
	
}
.offer{
	margin-top:10px;
}
.image1{
	background: url('../images/icon.png') no-repeat;
	background-position: -2x 0px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
}
img.image1:hover{
	background: url('../images/icon.png') no-repeat;
	background-position: 0px -68px;;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
}
.image2{
	background: url('../images/icon.png') no-repeat;
	background-position: 0 -138px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;

}
img.image2:hover{
	background: url('../images/icon.png') no-repeat;
	background-position: 0 -205px;;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;

}
.image3{
	background: url('../images/icon.png') no-repeat;
	background-position: 0 -271px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
	
}
img.image3:hover{
	background: url('../images/icon.png') no-repeat;
	background-position: 0px -339px;
	overflow: hidden;
	display: inline-block;
	width: 40px;
	height: 40px;
	
}
.body1 h4{
	font-size: 18px;
	color: #2c4453;

}
.body p{
	font-size: 12px;
	color: #414141;
}
.alink{
	color: #414141;
	font-size: 14px;	
}
h1{
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}
.text{
	color: #414141;
}
.text a:link p{
	font-size: 16px;
	font-weight: 500;
}
.text h3{
	color: #ea4748;
}
.button1{
	color:#ea4748;
	border-color: #ea4748;
	margin-bottom: 20px; 
}
.footer{
	background-color:#394044;
	margin-top: 20px;
	color:#fff;
}
.form{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	color: #fff;
}
.form button{
	font-size: 14px;
	font-weight: 700px;
	background-color: #ea4748;
	border-color: #ea4748;

}
button:hover{
	background-color: #fff;
	border-color: #ea4748;
	color: #ea4748;
}
.form input{
	background-color:#394046;
	border-color: #394046; 
}
.footer ul{
	
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
}
.footer ul li {
	display:inline-block;
	padding-left: 10px;
	color: #fff;
}
hr{
	border-color:#464d51;
}
.footer-banner{
	position: relative;
}
.footer-content{
	position:absolute;
	z-index: 1;
}
.copy{
	text-align: center;
	font-size: 13px;
	color: #949597;
}

